{% extends "SrtTagsVideosBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Liste des vidéos
{% endblock %}

{% block videos_content_title %}Liste des vidéos{% endblock %}

{% block videos_content %}
	
	{% for message in app.session.flashbag.get('success') %}
		<p class="text-center text-success">{{ message }}</p>
	{% endfor %}
	
	{% for message in app.session.flashbag.get('error') %}
		<p class="text-center text-error">{{ message }}</p>
	{% endfor %}
	
	<ul class="nav list-hover">
		{% for video in videos %}
			<li>{{ video.title }} ({{ video.format }}) <ul class="inline pull-right">
										<li><a href="../../../{{ video.getWebPath() }}" download="{{ video.title }}.{{ video.format }}"><i class="icon-download"></i> Télécharger</a></li>
										<li><a href="{{ path('srttagsvideos_removeVideo', {'id': video.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ video.title }} ? \n\n(Cela supprimera également les séquences associées)');"><i class="icon-trash"></i> Supprimer</a></li>
									</ul>
			</li>
		{% else %}
			<li>Aucune vidéo trouvée.</li>
		{% endfor %}
	</ul>
	
	{% if nbrPage > 1 %} 
		<div class="pagination">
			<ul>
				{% for p in range(1, nbrPage) %}
					<li {% if p == page %} class="active"{% endif %}>
						<a href="{{ path('srttagsvideos_listVideos', {'page': p}) }}">{{ p }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}
