<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		
		<link type="text/css" href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
        <link type="text/css" href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% block css %}{% endblock %}
		
		<script src="{{ asset('js/jquery-2.0.2.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% block scripts %}{% endblock %}
		
		<title>{% block title %}Srt-Tags{% endblock %}</title>
	</head>
	
	<body>
		<div id="wrapper">
			<header>
                <div id="userbar">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <ul class="nav nav-pills">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Connecté en tant que {{ app.user.username }}<b class="caret"></b></a>
                            <ul id="user_menu" class="dropdown-menu">
                                <li><a href="{{ path('sonata_user_profile_show') }}">Modifier mon profil</a></li>
                                <li><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    {% endif %}
                </div>
				
				<h1><a href="{{ path('srttagsvideos_index') }}">Srt-Tags</a></h1>
				
				<nav>
					<ul class="nav nav-pills">
						<li><a href="{{ path('srttagsvideos_index') }}">Accueil</a></li>
						
						{% if is_granted('ROLE_ADMIN') %}
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('srttagsvideos_adminVideos') }}">Vidéos</a></li>
                                    <li><a href="{{ path('srttagsvideos_adminSequences') }}">Séquences</a></li>
                                    <li><a href="{{ path('sonata_admin_dashboard') }}">Utilisateurs</a></li>
								</ul>
							</li>
						{% endif %}
						
						<li><a href="{{ path('srttagsvideos_about') }}">À propos</a></li>
					</ul>
				</nav>
				
			</header>
			
			<section>
			{% block content %}
			{% endblock %}
			</section>
		
		</div>
		
		<footer>
			<p>Développé par le laboratoire <a href="labo.colibre.org" target="_blank" rel="author">Topaza Pyra</a> - Licence <a href="https://www.gnu.org/licenses/gpl.html" target="_blank">GPLv3</a></p>
		</footer>
			
	</body>
</html>
